NodeRed.BAckups/Legend T3 flows.json
[{"id":"f6508095.ec1b2","type":"tab","label":"Mood Transfer","disabled":false,"info":""},{"id":"42ebf75f.4d0f38","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8e85c0bc.82c7b","type":"mqtt-broker","z":"","name":"Legeng-T3 Mqtt blocker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50357877.5404f8","type":"mqtt-broker","z":"","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"420d9c8b.e37f44","type":"debug","z":"f6508095.ec1b2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":40,"wires":[]},{"id":"11986a2f.4dfc76","type":"delay","z":"f6508095.ec1b2","name":"","pauseType":"delay","timeout":"35","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":160,"y":220,"wires":[["adf5a686.a11e78","ad7ac455.a857c8"]]},{"id":"15702bdc.ec1ca4","type":"inject","z":"f6508095.ec1b2","name":"Transfer Force Launch","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":320,"wires":[["459a141d.cef24c"]]},{"id":"bc99c390.b5c55","type":"switch","z":"f6508095.ec1b2","name":"Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"Launch","vt":"str"},{"t":"eq","v":"End","vt":"str"},{"t":"eq","v":"Thunder","vt":"str"},{"t":"eq","v":"Sexy","vt":"str"},{"t":"eq","v":"LongDay","vt":"str"},{"t":"eq","v":"Movie","vt":"str"},{"t":"eq","v":"Sleeping","vt":"str"},{"t":"eq","v":"Slow","vt":"str"},{"t":"eq","v":"Armageddon","vt":"str"},{"t":"eq","v":"EDM","vt":"str"},{"t":"eq","v":"BadGuy","vt":"str"},{"t":"eq","v":"Party","vt":"str"},{"t":"eq","v":"SpecialKill","vt":"str"}],"checkall":"true","repair":false,"outputs":14,"x":390,"y":100,"wires":[[],["459a141d.cef24c"],["adf5a686.a11e78"],["993a0ce6.8ad3e"],["b804e575.0ef638"],["c0d83e78.e9767"],["60877b79.e12a04"],["f1ad41c7.e82b8"],["af923f7e.bf7e9"],["71ba4f2d.4255c"],["c3e19d29.833a9"],["9172e97d.f58e68"],["236d88bf.7c9468"],["61759376.5642bc","adf5a686.a11e78"]]},{"id":"459a141d.cef24c","type":"exec","z":"f6508095.ec1b2","command":"Start K:\\keanu.Transfer\\Transfer2.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Transfer Launch","x":620,"y":40,"wires":[["420d9c8b.e37f44"],["420d9c8b.e37f44"],["420d9c8b.e37f44"]]},{"id":"adf5a686.a11e78","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.End.bat","addpay":false,"append":"","useSpawn":"false","timer":"3","oldrc":false,"name":"End","x":730,"y":120,"wires":[[],[],[]]},{"id":"af923f7e.bf7e9","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Slow.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"07.slow","x":740,"y":540,"wires":[[],[],[]]},{"id":"b804e575.0ef638","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Sexy.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"01.Sexy","x":740,"y":180,"wires":[[],[],[]]},{"id":"88488817.dd0298","type":"inject","z":"f6508095.ec1b2","name":"End","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":360,"wires":[["adf5a686.a11e78"]]},{"id":"e05c2e0.a0e3ed","type":"inject","z":"f6508095.ec1b2","name":"Slow","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["af923f7e.bf7e9"]]},{"id":"168440b2.2179af","type":"inject","z":"f6508095.ec1b2","name":"Sexy","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["b804e575.0ef638"]]},{"id":"c4d5b945.0ba6a8","type":"mqtt in","z":"f6508095.ec1b2","name":"Mood\\Transfer\\State","topic":"Mood\\Transfer\\State","qos":"2","datatype":"utf8","broker":"8e85c0bc.82c7b","x":110,"y":40,"wires":[["bc99c390.b5c55"]]},{"id":"993a0ce6.8ad3e","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Thunder.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"06.Thunder","x":750,"y":480,"wires":[[],[],[]]},{"id":"2013b188.1d299e","type":"inject","z":"f6508095.ec1b2","name":"Thunder","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["993a0ce6.8ad3e"]]},{"id":"71ba4f2d.4255c","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Armageddon.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"02.Armageddon","x":760,"y":240,"wires":[[],[],[]]},{"id":"8d37286b.344e38","type":"inject","z":"f6508095.ec1b2","name":"Armageddon","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":440,"wires":[["71ba4f2d.4255c"]]},{"id":"c0d83e78.e9767","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.LongDay.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"03.LongDay","x":750,"y":300,"wires":[[],[],[]]},{"id":"8e226788.0c8c38","type":"inject","z":"f6508095.ec1b2","name":"longDay","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["c0d83e78.e9767"]]},{"id":"60877b79.e12a04","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Movie.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"04.Movie","x":740,"y":360,"wires":[[],[],[]]},{"id":"9a942d50.93366","type":"inject","z":"f6508095.ec1b2","name":"movie","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":520,"wires":[["60877b79.e12a04"]]},{"id":"f1ad41c7.e82b8","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Sleeping.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"05.Sleeping","x":750,"y":420,"wires":[[],[],[]]},{"id":"90750eb1.9b603","type":"inject","z":"f6508095.ec1b2","name":"Sleeping","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["f1ad41c7.e82b8"]]},{"id":"66f575fc.b03a7c","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Delete.Transfer.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"Delete","x":730,"y":860,"wires":[[],[],[]]},{"id":"e9f7addb.c8418","type":"inject","z":"f6508095.ec1b2","name":"Delete.Transfer","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":880,"wires":[["66f575fc.b03a7c"]]},{"id":"717cc9dc.8393d8","type":"mqtt in","z":"f6508095.ec1b2","name":"Keanu\\Mood","topic":"Keanu\\Mood","qos":"2","datatype":"utf8","broker":"8e85c0bc.82c7b","x":110,"y":100,"wires":[["7dd3691f.84e328"]]},{"id":"847a284a.b4c078","type":"delay","z":"f6508095.ec1b2","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":260,"wires":[["bc99c390.b5c55"]]},{"id":"7dd3691f.84e328","type":"switch","z":"f6508095.ec1b2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":70,"y":280,"wires":[["adf5a686.a11e78"],["847a284a.b4c078"]]},{"id":"a3cee3a2.8f67","type":"mqtt in","z":"f6508095.ec1b2","name":"","topic":"MOOD\\THOR","qos":"2","datatype":"utf8","broker":"8e85c0bc.82c7b","x":110,"y":160,"wires":[["11986a2f.4dfc76","993a0ce6.8ad3e","b7c4c6d4.b5dae8"]]},{"id":"b7c4c6d4.b5dae8","type":"change","z":"f6508095.ec1b2","name":"Thor","rules":[{"t":"set","p":"payload","pt":"msg","to":"Thor","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":420,"wires":[["e2836ecb.4b246"]]},{"id":"e2836ecb.4b246","type":"mqtt out","z":"f6508095.ec1b2","name":"","topic":"Mood\\Thor","qos":"2","retain":"","broker":"50357877.5404f8","x":970,"y":180,"wires":[]},{"id":"961b8589.030db8","type":"delay","z":"f6508095.ec1b2","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":540,"wires":[[]]},{"id":"c3e19d29.833a9","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.EDM.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"09.EDM","x":740,"y":720,"wires":[[],[],[]]},{"id":"1717023f.03163e","type":"inject","z":"f6508095.ec1b2","name":"EDM","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":740,"wires":[["c3e19d29.833a9"]]},{"id":"9172e97d.f58e68","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.BadGuy.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"08.BadGuy","x":750,"y":600,"wires":[[],[],[]]},{"id":"81740d0d.600e","type":"inject","z":"f6508095.ec1b2","name":"BadGuy","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":680,"wires":[["9172e97d.f58e68"]]},{"id":"ad7ac455.a857c8","type":"change","z":"f6508095.ec1b2","name":"End","rules":[{"t":"set","p":"payload","pt":"msg","to":"End","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":930,"y":360,"wires":[["e2836ecb.4b246"]]},{"id":"236d88bf.7c9468","type":"exec","z":"f6508095.ec1b2","command":"Start /B K:\\keanu.Transfer\\Transfer.Party.bat","addpay":false,"append":"","useSpawn":"false","timer":"1","oldrc":false,"name":"10.Party","x":740,"y":780,"wires":[[],[],[]]},{"id":"2a2e8abe.112ab6","type":"inject","z":"f6508095.ec1b2","name":"Party","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":800,"wires":[["236d88bf.7c9468"]]},{"id":"a321478c.221898","type":"mqtt out","z":"f6508095.ec1b2","name":"","topic":"Mood\\End","qos":"","retain":"","broker":"50357877.5404f8","x":970,"y":640,"wires":[]},{"id":"61759376.5642bc","type":"change","z":"f6508095.ec1b2","name":"End","rules":[{"t":"set","p":"payload","pt":"msg","to":"End","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":660,"wires":[["a321478c.221898"]]}]